<h2>Base</h2>

<h1>Titel</h1>
<h2>sub2</h2>
<h3>sub3</h3>
<h4>sub4</h4>
<h5>sub5</h5>
<h6>sub6</h6>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis dignissimos quibusdam explicabo debitis facilis eum, voluptas assumenda cum modi exercitationem, molestias quas, suscipit quis! Tempore architecto odio rem quidem nulla?
</p>

<h3>Verwijzing</h3>

<a class="app-a">Verwijzing 1</a> <a class="app-a">Verwijzing 2</a> <a class="app-a">Verwijzing 3</a>

<h3>knop</h3>

<button class="app-button">knop</button>

<h3>Code</h3>

<code> const parameter = 35;
      var = 20;
</code>

<h3>Invoer</h3>

<input type="text" class="app-input">

<h2>Mixins</h2>

<h3>Shaduw</h3>

<div class="shadow">Shaduw mixin</div>

<h3>Card</h3>

<div class="card">Card mixin</div>
